
@import 'helpers';

.appWrap {
  color: $primary-color;
  background: $bg-color-dark;
  background: linear-gradient(
    180deg,
    $bg-color-dark 0%,
    $bg-color-add1 18%,
    $bg-color-light 62%,
    $bg-color-add2 100%
  );
  @include height-width(100vh, auto);
}

header {
  @include height-width(150px, auto);
}

.bg-hand {
  @extend %bg-style;
  @include min-height(500px);
  margin-bottom: 100px;
}

.title {
  @include marg(0, 0, 0, 45%);

  h1 {
    @include font-style('bangersregular', 3.5rem);
    @extend %shadow-style;
  }
}

main {
  cursor: default;
  @include pad(100px, 0, 0, 0);

  h2 {
    text-align: center;
    @include font-style('bangersregular', 2.5rem);
    @extend %shadow-style;
  }
}

form {
  color: $bg-color-dark;

  textarea {
    resize: none;
  }
}

.data-list {
  background-color: $bg-color-light;
  border-radius: 25px;
  border: 2px solid $primary-color;
  @include pad(10px, 10px, 10px, 10px);
  @include min-height(300px);
  @include position(relative, 0, 0);

  ul {
    padding-left: 0;

    li {
      @include pad(5px, 10px, 5px, 10px);
      @include font-style('bangersregular', 1.5rem);
      @extend %li-style;
      cursor: pointer;

      h3 {
        margin-bottom: 0;
      }
    }
  }

  .active {
    background-color: $bg-color-dark;
    @include pad(0, 0, 0, 10px);
    @extend %shadow-style;
  }
}

#oneNoteContent{
  @include font-style('bangersregular', 1.75rem);
  color: $shadow-color;

  p {
    @include font-style('bangersregular', 1.5rem);
  }
}

.contentEditor{
  @include position(absolute, 20px, 50%);
  @include height-width(auto, 50%);

  button{
    display: inline-block;
    @include height-width(auto, 30%);
    @include marg(0, 2%, 0, 2%);
  }
}



